*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
.navbar {
    background-color: whitesmoke;
    box-shadow: 0px 15px 10px -15px #111;
    height: 50px;
    z-index: 5;
  }

  .logo {
    color: red;
    display: inline-block;
    /* background-color: yellow; */
  }

  .logo,
  .hamburger,
  .cart,
  .search {
    margin: 10px auto 10px 15px;
    font-size: 25px;
    color: red;
  }

  .logo,
  .fas:hover {
    cursor: pointer;
  }

  #check {
    display: none;
  }

  .links {
    /* display: flex; */
    /* flex-direction: column; */
    height: auto;
    background-color: whitesmoke;
    margin-top: -150vh;
    transition: all .5s;
    position: relative;
    z-index: 2;
  }

  .links li {
    list-style-type: none;
    display: flex;
    padding-left: 4vw;
  }

  .links li a,
  .dropdown1 {
    text-decoration: none;
    color: black;
    font-size: 25px;
    padding-top: 10px;

    /* margin-left: 25px; */
  }

  .dropdown1 {
    float: left;
    overflow: hidden;
  }

  .dropdown1 .dropbtn {
    font-size: 16px;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 23px;
    background-color: inherit;
    margin: 0;
  }

  .dropdown-content {
    display: none;
    background-color: #f1f1f1;
    height: 130px;
    min-width: 160px;
    overflow: scroll;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    float: none;
    color: black;
    width: 90vw;
    /* padding: 10px 16px; */
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .links a:hover,
  .dropbtn:hover {
    background-color: rgb(197, 191, 191);
  }

  .search,
  .cart {
    /* display: inline-block; */
    float: right;
    padding-right: 20px;
  }

  #carticon {
    color: black;
  }

  #check:checked~.links {
    /* display: flex; */
    /* background-color: red; */
    margin-top: .50%;
  }

  .show {
    display: block;
  }

  .btnallcat {
    position: sticky;
    bottom: 10vh;
  }

  #btnforcat {
    background-color: #111;
    color: white;
    cursor: pointer;
    border: rgb(82, 77, 77) solid;
    border-radius: 20px;
    padding: 2px 8px;
    font-size: 28px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /* .body{
    width: 100%;
  } */
  .collections {
    display: inline-block;
    width: 100%;
  }

  .collections h1 {
    text-align: center;
    padding-top: 18px;
  }

  .availableitems,
  .Heading1 {
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .secondaryHeading {
    /* display: block; */
    width: 90%;
  }

  .secondaryHeading h2 {
    padding-left: 5vw;
    /* background-color: red; */
    display: block;
  }

  .cont1 {
    border: #a8a1a1 solid;
    box-shadow: 0px 15px 10px -15px #111;
    margin: 30px 2.2vw;
    /* display: inline-block; */
    /* padding: 4px; */
    height: auto;
    width: 16em;
    cursor: pointer;
  }

  .cont1 img {
    height: auto;
    width: -webkit-fill-available;
  }

  .discount {
    background-color: green;
    text-align: center;
  }

  .product {
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 15px 15px;
    background-color: rgb(233, 218, 218);
  }

  .product h4 {
    text-align: center;
    margin: auto;
    font-size: 1.2em;
  }

  .price {
    display: inline-block;

    padding: 11px 18px;
  }

  .price h3 {
    display: flex;
    width: fit-content;
    margin: auto;
    padding: 2px auto;
    /* background-color: yellow; */
  }

  .price h3:first-child {
    color: grey;
  }

  .addBtn {
    display: inline-flex;
    float: right;
    margin: 10px 36px 10px auto;
    padding: 10px;
    /* cursor: pointer; */
  }

  .btnToAdd {
    align-items: center;
    padding: 1px 10px;
    font-size: 1.5em;
    cursor: pointer;
    border-radius: 10px
  }

  .btnToAdd:hover {
    background-color: grey;
    color: white;
  }

  .customeMobileCase {
    justify-content: flex-start;
  }

  /* Css of Footer */
  .footer {
    margin-top: 50px;
  }

  .footerPart1 {
    display: flex;
    padding: 3px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(236, 228, 228);
  }

  .footerPart1 h4 {
    margin: auto;
  }

  .footerPart1 p,
  .num1 {
    color: grey;
    margin: 3px;
  }

  .num1 {
    border: solid 1px grey;
    padding: 6px;
    border-radius: 20px;
  }

  .pay {
    display: flex;
    align-items: center;
  }

  .pay img {
    width: 22vw;
  }

  .footerPart2 {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: fit-content;
    display: none;
  }

  .footerBox {
    border: solid white 2px;
    color: white;
    width: fit-content;
    border-radius: 20px;
    margin: 10px 15px;
    padding: 6px 10px;
  }

  .breakwhiteline {
    width: 100%;
    background-color: #fff;
    height: 1px;
  }

  .copyright {
    display: flex;
    justify-content: center;
    padding: 3px;
    align-items: center;
    background-color: #000;
    color: white;
  }

  .footerpart0 {
    display: flex;
    padding: 15px;
    background-color: rgb(54, 53, 53);
    color: white;
    justify-content: center;
    /* align-items: center; */
  }

  .box2 {
    margin: 1px 3vw;
  }

  .box2 ul {
    padding: 0px;
  }

  .box2 ul li {
      list-style-type: none;
    }
    .box2 ul li a{
      text-decoration: none;
        color: #fff;
        cursor: pointer;
    }
    .box2 ul li a:hover{
        text-decoration: underline;
    }

  .box2 h3 {
    margin-bottom: 6px;
  }


  /*********************** Styling for Modal (Categories Button) */

  .modalForAC{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
  }

  .modalContent1 {
    position: fixed;
    overflow: scroll;
    background-color: #fefefe;
    /* padding: 7vw; */
    /* border-radius: 6%; */
    top: 20%;
    left: 25%;
    height: 60%;
    width: 50%;
    -webkit-animation-name: slideIn;
    -webkit-animation-delay: 0.4s;
    animation-name: slideIn;
    animation-delay: 0.4s;
  }

  .categoriesUl {
    display: flex;
    justify-content: center;
  }

  .closeBtn {
    float: right;
    /* position: fixed; */
    margin: 10px 10px auto auto;
    font-size: 28px;
    font-weight: bold;
  }

  .closeBtn:hover,
  .closeBtn:focus {
    text-decoration: none;
    cursor: pointer;
  }

  .allCategoriesList {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .allCategoriesList li {
    font-size: 1.4em;
  }

  /*************************************************************  Styling for modal For Product */

  .modalForProduct{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
  }
  .modalContent2{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    top: 10%;
    left: 10%;
    /* height: 80%; */
    width: 80%;
    padding: 3% 2% 5% 2%;
    box-shadow: 10px 10px 10px -10px #111;
    -webkit-animation-name: slideIn;
    -webkit-animation-delay: 0.4s;
    animation-name: slideIn;
    animation-delay: 0.4s;
  }
  .remainingPartBox1{
    display: flex;
  }
  .imageForModal{
    display: flex;
    width: 130%;
    /* margin-top: 5%; */
    align-items: center;
    
  }
  .productDetails{
    margin: 5%;
  }
  .closeBtnPD{
    display: flex;
    float: right;
    margin: 10px;
    font-size: 28px;
    font-weight: bold;
  }

  .closeBtnPD:hover,
  .closeBtnPD:focus {
    text-decoration: none;
    cursor: pointer;
  }
  .remainingPartBox2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .addToCartBox{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  #addToCart{
    color: red;
    background-color: #fff;
    border: 2px solid red;
    border-radius: 20px;
    font-size: 1.5em;
    padding: 1.5% 10%;
  }
  #addToCart:hover{
    color: #fff;
    background-color: red;
  }
  #buyNow{
    color: #fff;
    background-color: red;
    border: 2px solid red;
    border-radius: 20px;
    font-size: 1.5em;
    padding: 1.5% 12%;
  }
  #buyNow:hover{
    color: red;
    background-color: #fff;
  }
  #modal2Image{
    height: 222px;
  }
  /* Add Animation */
  @-webkit-keyframes slideIn {
    from {
      bottom: -300px;
      opacity: 0;
    }

    to {
      bottom: 0px;
      opacity: 1;
    }
  }

  @keyframes slideIn {
    from {
      bottom: -300px;
      opacity: 0;
    }

    to {
      bottom: 0px;
      opacity: 1;
    }
  }

  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    
    to {
      opacity: 1;
    }
  }
  /******************************* Mediea Queries Start (to make website responsive) */

  @media screen and (min-width: 1024px) {
    #modal2Image{
      height: 320px;
    }
  }


  @media screen and (max-width: 1000px) {
    #addToCart, #buyNow{
      padding: 1% 30px;
    }
  }
  @media  screen and (max-width: 900px) {
    #addToCart, #buyNow{
      font-size: 1.3em;
    }
  }
  @media screen and (max-width: 800px) {
    .closeBtn {
      color: #000;
    }
    #addToCart, #buyNow{
      font-size: 1.1em;
    }
    .modalContent2{
      padding: 2%;
    }
  }
  @media screen and (max-width: 750px) {
    #addToCart, #buyNow{
      font-size: 1em;
    }
    .productDetails{
      font-size: 15px;
    }
  }
  @media screen and (max-width: 650px) {
    .imageForModal{
      width: 200%;
    }
  }
  @media screen and (max-width: 640px) {
    .modalContent2{
      width: 100%;
      height: 75%;
      top: auto;
      left: 0;
      bottom: 0 ;
      justify-content: space-between;
      padding: 3% 0;
    }
    .imageForModal{
      /* height: fit-content; */
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    /* #modal2Image{
      width: 39%;
    } */
    .remainingPartBox1{
      flex-direction: column;
      
    }
    .closeBtnBox{
      margin-top: -60px;
    }
    .closeBtnPD{
      justify-content: center;
      float: none;
      margin: 0;
      font-size: 30px;
    }
    #addToCart, #buyNow{
      font-size: 1.3em;
      padding: 8px 14%;
      border-radius: 10px;
    }
    .productDetails{
      margin: 0;
    }
    .product{
      border-radius: 0;
    }
    .productDetailsAbout{
      margin: 1%;
      height: 50px;
      overflow: scroll;
    }
    #modal2Discount{
      display: block;
    }
  }
  @media screen and (max-width: 590px) {
    .cont1 {
      width: 40vw;
    }

    .pay img {
      width: 30vw;
    }
  }
  
  @media screen and (max-width: 575px) {
    .addBtn {
      margin: auto;
    }
    
    .price {
      padding: 11px 6px;
    }
  }
  
  @media screen and (max-width: 499px) {
    .footerPart2 {
      display: flex;
    }
    
    .footerpart0 {
      display: none;
    }

    .modalContent1 {
      top: auto;
      left: auto;
      bottom: 0;
      width: 100%;
    }
    #addToCart, #buyNow{
      padding: 6px 12%;
    }
    /* #modal2Image{
      width: 53%;
      height: auto;
    } */
  }
  
  @media screen and (max-width: 430px) {
    .product h4 {
      font-size: 0.9em;
    }

    .btnToAdd {
      font-size: 1em;
    }

    .price h3 {
      font-size: 1em;
    }

    .discount {
      font-size: 0.8em;
    }

    .footerBox {
      font-size: 0.7em;
    }

    .footerPart1 p,
    .num1 {
      font-size: 0.7em;
    }
    
    #btnforcat {
      font-size: 22px;
    }
    #addToCart, #buyNow{
      padding: 5px 11%;
    }
  }
  
  @media screen and (max-width: 370px) {
    .product h4 {
      font-size: 0.7em;
    }

    .price h3 {
      font-size: 0.8em;
    }

    .footerBox {
      font-size: 0.6em;
    }

    .pay img {
      width: 40vw;
    }

    .addBtn {
      padding: 10px 5px;
    }

    #btnforcat {
      font-size: 20px;
    }
    #addToCart, #buyNow{
      padding: 5px 10%;
      font-size: 1.1em;
    }
    /* .modalContent2{
      height: 65%;
    } */
    /* #modal2Image{
      width: 75%;
      height: auto;
    } */
  }
  @media screen and (max-width:340px) {
    /* #modal2Image{
      width: 82%;
    } */
    /* .modalContent2{
      height: 62%;
    } */
  }
  @media screen and (max-width:290px) {
    /* #modal2Image{
      width: 99%;
    } */
    #addToCart, #buyNow{
      padding: 5px 10%;
      font-size: 1em;
    }
    
}
